body {
  background-image: url("https://i.redd.it/dnbu56z6o0x21.png");
}
.Todo {
  margin: auto;
  width: 50%;
  padding: 95px;
  margin-top: 10%;
  background-color: gray;
  opacity: 0.9;
  height: 600px;
}
.Todo2 {
  padding-top: 10px;
}
.Font {
  font-style: italic;
  font-size: 40px;
}
